appdirs==1.4.4
asgiref==3.5.2
dj-database-url==1.0.0
Django==4.1.1
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2==2.9.3
py==1.11.0
pycairo==1.21.0
pycparser==2.21
pydantic==1.10.2
PyDispatcher==2.0.5
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyroute2==0.7.2
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
pywatchman==1.4.0
pyxdg==0.28
PyYAML==6.0
regex==2022.9.13
SCons==4.4.0
Scrapy==2.6.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
whitenoise==5.0.1
